@{
    ViewData["Title"] = "GermanClass";
}
<!-- 
@section profileCSS {
    <link href="~/css/profile.css" rel="stylesheet" type="text/css" />
} -->

<h1>@ViewData["Title"]</h1>

<div class="item">
    
    <img src="~/images/GermanClass/GermanFlag.png" alt="" class="img-responsive" height="200" width="200"/>
</div>